.slide {
  position: absolute;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-image: radial-gradient(circle, #FFFFFF, #269);
  text-align: center;
}

.slide > * {
  max-width: 50vw;
  width: 100%;
  margin: 10px auto;
}

.arrow-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(3.6em, auto)); 
  grid-template-rows: repeat(3, auto); 
}

.control-arrow {
  position: relative;
  width: 3.6em;
  height: 3.6em;
}

.control-arrow::before,
.control-arrow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.6em;
    height: 0.5em;
    border-radius: 0.25em;
    background-color: lightsteelblue;
    -webkit-transition: all 0.15s ease, background-color 0.8s ease;
    transition: all 0.15s ease, background-color 0.8s ease;
    -webkit-transform-origin: 0.2em 50%;
    -ms-transform-origin: 0.2em 50%;
    transform-origin: 0.2em 50%;
    will-change: transform;
}

.control-arrow:hover::after {
  background-color: aliceblue;
  -webkit-transform: translateX(0.8em) translateY(1.55em) rotate(-40deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);

}
.control-arrow:hover::before {
  background-color: aliceblue;
  -webkit-transform: translateX(0.8em) translateY(1.55em) rotate(40deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
}

.control-arrow:after {
    -webkit-transform: translateX(0.8em) translateY(1.55em) rotate(-45deg);
    -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
}

.control-arrow:before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
    -ms-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
}

.control-arrow.left {
  transform: rotate(0deg);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.control-arrow.right {
  transform: rotate(180deg);
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.control-arrow.up {
  transform: rotate(90deg);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.control-arrow.down {
  transform: rotate(-90deg);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.right .slide-fade-enter {
  left: 100%;
  opacity: 0.01;
}

.right .slide-fade-enter.slide-fade-enter-active {
  left: 0%;
  opacity: 1;
  transition: all 1000ms ease-in;
}

.right .slide-fade-exit {
  left: 0%;
  opacity: 1;
}

.right .slide-fade-exit.slide-fade-exit-active {
  left: -100%;
  opacity: 0.01;
  transition: all 1000ms ease-in;
}

.left .slide-fade-enter {
  left: -100%;
  opacity: 0.01;
}

.left .slide-fade-enter.slide-fade-enter-active {
  left: 0%;
  opacity: 1;
  transition: all 1000ms ease-in;
}

.left .slide-fade-exit {
  left: 0%;
  opacity: 1;
}

.left .slide-fade-exit.slide-fade-exit-active {
  left: 100%;
  opacity: 0.01;
  transition: all 1000ms ease-in;
}

