.Slides-App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, #FFFFFF, #269);
}

.slide {
  padding: 15px;
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.arrow-container {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: grid;
  grid-template-columns: 30px 50px 30px; 
  grid-template-rows: 30px 50px 30px; 
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #e5e5ff;
  grid-column-start: 2;
  grid-column-end: 3;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e5e5ff;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e5e5ff;
  grid-row: 2;
  grid-column-start: 3;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid #e5e5ff;
  grid-row: 2;
  grid-column-start: 1; 
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}